@tailwind base;
@tailwind components;
@tailwind utilities;

html{
    margin: 0;
    scroll-behavior: smooth;
    box-sizing: border-box;
}

.guest-confirmation, .weddinggift{
    scrollbar-width: thin;
}

.swiper{
    z-index: 50!important;
}

.swiper-button-prev::after, .swiper-button-next::after{
    font-size: 24px!important;
    font-weight: bold;
    color: white;
    background-color: rgba(0, 0, 0, 0.404);
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px;
    opacity: 70%;
    border-radius: 50%;
}